body{
    background-image: url('../img/BTTFII.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
}
#digitalClock {
    color: white;
    font-size: 80px;
    font-family: monospace;
    text-align: center;
    padding-top: 40px;
}
#saveTimeButton {
    display: block;
    margin: 20px auto;
}
#analogueClock{
    width: 220px;
    height: 220px;
    border: 4px solid white;
    border-radius: 50%;
    margin: 30px auto;
    position: relative;
}
#hourHand, #minuteHand, #secondsHand {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom;
    background-color: white;
}
#hourHand{
    width: 6px;
    height: 60px;
}
#minuteHand{
    width: 4px;
    height: 85px;
}
#secondsHand{
    width: 2px;
    height: 95px;
}